
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form id="form" >
    <div class="container">
        <label >select redio button</label>
        <div>
            <input type="radio" name="rdbstatus" value="show" checked="checked" />
            <input type="radio" name="rdbStatus" value="Hide" />Hide
        </div>
    </div>

</form>

