@model Open_Schooling.Models.Center_Login_Information
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/HomeDashboard_Layout.cshtml";
}




<link href="~/Design/StyleSheet/Login.css" rel="stylesheet" />
<body>
    <div id="login" style="display:flex; align-items:center;justify-content:center;">
        <div class="container" style="width:550px">

            <div id="login-row" class="row justify-content-center align-items-center">

                <div id="login-column" class="col-md-6">

                    <div id="login-box" class="col-md-12">

                        <h3 class="text-center text-info">Forgot Password</h3>

                        <div class="form-group" style="padding-top:20px">
                            <label class="text-info">Enter UDISE No:</label><br>
                            <input type="text" name="UDISE_No" id="UDISE_No" class="form-control">
                        </div>

                        <div class="form-group" style="margin-left:00px">
                            <input type="button" id="forgotPassword" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>

                        <label id="passError" class="text-danger text-center" style="display:none;margin-left:130px"></label>
                        <div style="display:none;margin-left:100px" id="pass">
                            Your Password is :   <label style="font-family:Arial, Helvetica, sans-serif;font-size:15px" id="Center_Password"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnForgotPassword").click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendCenterPasswordToEmail", "CenterLogin")',
                dataType: 'json',
                data: { udiseNo: $("#UDISE_No").val() },
                success: function (response) {
                    alert(response); // show success or error message
                },
                error: function (ex) {
                    alert('Error sending email: ' + ex.responseText);
                }
            });
        });
    });
</script>