@model Open_Schooling.Models.Registration_Model
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/HomeDashboard_Layout.cshtml";
}



<link href="~/Design/StyleSheet/Login.css" rel="stylesheet" />
<body>
    <div id="login">
        <div class="container">

            <div id="login-row" class="row justify-content-center align-items-center">

                <div id="login-column" class="col-md-6">

                    <div id="login-box" class="col-md-12">

                        <h3 class="text-center text-info">Forgot Password</h3>



                        <div class="form-group" style="margin-left:100px">
                            <label class="text-info">Enter Mobile No:</label><br>
                            <input type="text" name="Mobile_No" id="Mobile_No"  maxlength="10" class="form-control">
                        </div>
                        

                        <div class="form-group" style="margin-left:200px">
                            <input type="button" id="StudentforgotPassword" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                      
                        <label id="passError" class="text-danger text-center" style="display:none;margin-left:130px"></label>
                        <div style="display:none;margin-left:100px" id="pass">
                            Your Email Id is :   <label style="font-family:Arial, Helvetica, sans-serif;font-size:15px" id="Student_Password"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $("#StudentforgotPassword").click(function () {
            $("#Student_Password").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getStudentPassword")',
                dataType: 'json',
                data: { mobileNo: $("#Mobile_No").val() },
                success: function (password) {
                    if (password == "Invalid Mobile Number.") {
                        $("#pass").hide();
                        $("#passError").show();
                       $("#passError").text(password);
                    }
                    else {
                        $("#pass").show();
                        $("#passError").hide();
                        $("#Student_Password").text(password);
                    }
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
        })
    });
</script>
